{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <h3>{{ topic }}</h3>
{% endblock page_header %}

{% block content %}
  <p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>
  </p>
  <div class="accordion" id="accordionExample">
    {% for entry in entries %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ entry.id }}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ entry.id }}" aria-expanded="true" aria-controls="collapse{{ entry.id }}">
            <h4>
              {{ entry.date_added|date:'M d, Y H:i' }}
            </h4>
          </button>
        </h2>
        <div id="collapse{{ entry.id }}" class="accordion-collapse collapse show" aria-labelledby="heading{{ entry.id }}" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <small><button class="ll-inline-button" onclick="location.href = '{% url 'learning_logs:edit_entry' entry.id %}';">
                    Edit Entry &nbsp;</button></small>
            <br>
            {{ entry.text|linebreaks }}
          </div>
        </div>
      </div>
    {% empty %}
      <p>There are no entries for this topic yet.</p>
    {% endfor %}
    
  </div>
  <ul>
  

{% endblock content %}
